<launch>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find hexapod_navigation)/config/planner.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find hexapod_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find hexapod_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find hexapod_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="6.0"/>
    <param name="local_costmap/height" value="6.0"/>

    <rosparam file="$(find hexapod_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap"/>
    <param name="global_costmap/width" value="30.0"/>
    <param name="global_costmap/height" value="30.0"/>

  </node>

</launch>
