<?xml version="1.0" encoding="UTF-8" ?>
<!-- Full bringup local launch file ( for example if you remote logged into the robot ) -->

<launch>
    <include file="$(find hexapod_bringup)/launch/hexapod.launch" />
<!--    <include file="$(find hexapod_bringup)/launch/visualize_rtabmap.launch" /> -->
    <include file="$(find hexapod_bringup)/launch/rviz.launch" />
</launch>

