<!-- Full bringup launch file -->

<launch>
    <include file="$(find hexapod_bringup)/launch/locomotion.launch" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hexapod_description)/urdf/hexapod_model.xacro'" />
    <node name="Hexapod_Odometry" pkg="hexapod_odometry" type="hexapod_odometry" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <include file="$(find hexapod_bringup)/launch/imu.launch" />
    <include file="$(find hexapod_bringup)/launch/depth_laserscan.launch" />

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
        <param name="output_frame" value="odom_combined"/>
        <remap from="imu_data" to="imu/data" />
        <param name="freq" value="30.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="false"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom_combined"/>
        <param name="maxUrange" value="3.0"/>
        <param name="maxRange" value="3.1"/>
        <param name="linearUpdate" value="0.2"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_description)/rviz_prefs/urdf.rviz" />
</launch>

