<!-- Full bringup launch file -->

<launch>
    <include file="$(find hexapod_bringup)/launch/locomotion.launch" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hexapod_description)/urdf/hexapod_model.xacro'" />
    <node name="Hexapod_Odometry" pkg="hexapod_odometry" type="hexapod_odometry" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <include file="$(find hexapod_bringup)/launch/imu.launch" />
    <include file="$(find hexapod_bringup)/launch/depth_laserscan.launch" />	
	
	<remap from="/camera/rgb/image_rect" to="/camera/rgb/image_rect_color"/>
	<remap from="/camera/depth_registered/image_rect" to="/camera/depth_registered/image_raw"/>
	<remap from="/camera/depth_registered/camera_info" to="/camera/depth_registered/sw_registered/camera_info"/>
	<node pkg="fovis_ros" type="fovis_mono_depth_odometer" name="fovis" output="screen" >
        <param name="publish_tf" value="false"/>
		<param name="base_link_frame_id" value="base_footprint"/>
		<param name="odom_frame_id" value="odom_combined"/>
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom_combined"/>
        <param name="maxUrange" value="3.0"/>
        <param name="maxRange" value="3.1"/>
        <param name="linearUpdate" value="0.2"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_description)/rviz_prefs/urdf.rviz" />
</launch>

