<?xml version="1.0" encoding="UTF-8"?>
<!-- Minimal bringup - just locomotion and joy teleop no visual nodes launch file ( Normal use, visual ran on remote desktop ) -->

<launch>
    <arg name="config" default="hexapod"/>
    <arg name="joy_mapping" default="joystick"/>
    <rosparam command="load" file="$(find hexapod_description)/params/$(arg config).yaml" />
    <rosparam command="load" file="$(find hexapod_description)/params/dynamixel.yaml" />
    <rosparam command="load" file="$(find hexapod_description)/params/$(arg joy_mapping).yaml" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hexapod_description)/urdf/$(arg config)_model.xacro'" />
    <include file="$(find hexapod_bringup)/launch/components/joy_teleop.launch" />
    <include file="$(find hexapod_bringup)/launch/components/locomotion.launch" />
</launch>
