<?xml version="1.0" encoding="UTF-8" ?>
<!-- IMU launch file -->

<launch>
    <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" args="load phidgets_imu/PhidgetsImuNodelet imu_manager" >
    <!-- supported data rates: 4 8 16 24 32 40 ... 1000 (in ms) -->
      <param name="period" value="16" />
      <param name="frame_id" value="imu_link" />
    # compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
      <param name="cc_mag_field" value="0.49062"/>
      <param name="cc_offset0" value="-1.05668"/>
      <param name="cc_offset1" value="1.23766"/>
      <param name="cc_offset2" value="0.00607"/>
      <param name="cc_gain0" value="1.86684"/>
      <param name="cc_gain1" value="2.01338"/>
      <param name="cc_gain2" value="2.23447"/>
      <param name="cc_t0" value="-0.00971"/>
      <param name="cc_t1" value="-0.03155"/>
      <param name="cc_t2" value="-0.00969 "/>
      <param name="cc_t3" value="0.03124"/>
      <param name="cc_t4" value="-0.03123"/>
      <param name="cc_t5" value="0.03376"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" >
      <param name="use_mag" value="false" />
      <param name="fixed_frame" value="odom" />
      <param name="publish_tf" value="false" />
	</node>
</launch>
