<?xml version="1.0" encoding="UTF-8"?>
<!-- Locomotion launch file -->

<launch>
    <node name="Hexapod_Odometry" pkg="hexapod_odometry" type="hexapod_odometry" />
    <node name="Hexapod_Locomotion" pkg="hexapod_locomotion" type="hexapod_locomotion" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>

