<?xml version="1.0" encoding="UTF-8" ?>
<!-- rtabmap launch file -->

<launch>
    <group ns="rtabmap">
        <!-- sync depth with odometry -->
        <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager"/>
        <node pkg="nodelet" type="nodelet" name="data_odom_sync" args="load rtabmap_ros/data_odom_sync standalone_nodelet">
          <remap from="odom_in"            to="/odometry/calculated"/>
          <remap from="rgb/image_in"       to="/camera/rgb/image_rect_color"/>
          <remap from="depth/image_in"     to="/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info_in" to="/camera/depth_registered/camera_info"/>

          <remap from="rgb/image_out"       to="/rtabmap/camera/rgb/image_rect_color"/>
          <remap from="depth/image_out"     to="/rtabmap/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info_out" to="/rtabmap/camera/depth_registered/camera_info"/>
          <remap from="odom_out"            to="/rtabmap/odometry/synchronized"/>
        </node>
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_link"/>
          <param name="odom_frame_id" type="string" value="odom"/>
          <param name="publish_tf" type="bool" value="true"/>
          <param name="subscribe_depth" type="bool" value="true"/>
          <param name="gen_scan" type="bool" value="true"/>
          <param name="queue_size" type="int" value="10"/>

          <remap from="odom" to="/rtabmap/odometry/synchronized"/>
          <remap from="rgb/image" to="/rtabmap/camera/rgb/image_rect_color"/>
          <remap from="depth/image" to="/rtabmap/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info" to="/rtabmap/camera/depth_registered/camera_info"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
          <param name="Mem/SaveDepth16Format" type="string" value="false"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
        </node>
    </group>
</launch>
