<?xml version="1.0" encoding="UTF-8" ?>
<!-- rtabmap launch file -->

<launch>
    <group ns="rtabmap">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_link"/>
		  <param name="odom_frame_id" type="string" value="odom"/>
          <param name="publish_tf" type="bool" value="true"/>
          <param name="subscribe_depth" type="bool" value="true"/>

          <remap from="odom" to="/odometry/filtered"/>

          <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
          <remap from="depth/image" to="/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
          <param name="Kp/MaxDepth" type="string" value="4.0"/>
          <param name="LccIcp/Type" type="string" value="2"/>
          <param name="LccIcp2/CorrespondenceRatio" type="string" value="0.5"/>
          <param name="LccBow/MinInliers" type="string" value="3"/>
          <param name="LccBow/InlierDistance" type="string" value="0.05"/>
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
        </node>
         <!--  <node pkg="rtabmap_ros" type="grid_map_assembler" name="grid_map_assembler"/>  -->
		<node pkg="rtabmap_ros" type="map_assembler" name="map_assembler">
		  <param name="occupancy_grid" value="true"/>
        </node>
    </group>
</launch>
